*{
	margin: 0;
	padding: 0;
	background: black;
}

#canvas1 {
	position: absolute;
	background: black;
	width: 100vw;
	height: 100vh;
}

.controls {
	position: absolute;
	width: 1%;
	height: 1%;
}

#sliders{

	position: absolute;
	width: 1vw;
	height: 1vw;
}


button {
	padding: 1vw;
	font-size: 3vw;
	margin: 1vw;
	color: black;
	background: grey;
	transition: 0.2s;
}

button:hover{
	color:grey;
	background: black;
}

label, input{
	color: white;
	font-size: 20px;
}
